<ion-view view-title="Atrás">
  <ion-content>
  		<h2 class="titlecontra">¿No recordás tu usuario o contraseña?</h2>
  		<p class="textorecuperar">Ingresá a continuación tu email de La Caja para que te enviemos una nueva contraseña</p>
      <form>
      <div class="list">
        <label class="item item-input user">
          <span class="input-label iconlogin second class"><i class="icon ion-email"></i></span>
          <input type="email" class="textlogin usertfont" placeholder="ejemplo@lacaja.com.ar" ng-model="formData.email">
        </label>
        <label class="item">
          <button class="button colortesoro loginbtn helvetica" type="submit" myclick="sendEmail()">Enviar</button>
        </label>
      </div>
      </form>
  </ion-content>
</ion-view>