<ion-view view-title="Resetear contraseña">
  <ion-content>
      <div id="contenedortitle">
      <h2 class="titlecontra reset">Por favor cambiá tu contraseña</h2></div>
            <div id="contenedorlinea">
        <div id="linea"></div>
      </div>
      <div id="contenedortexto">
      <p class="textorecuperar reset2">Ingresá a continuación una nueva contraseña.</p></div>
      <form>
      <div class="list">
        <label class="item item-input user">
          <input type="password" class="textlogin usertfont resetplace abc" placeholder="Nueva Contraseña" ng-model="formData.password">
        </label>
          <label class="item item-input user">
          <input type="password" class="textlogin usertfont resetplace abc" placeholder="Confirma tu Contraseña" ng-model="formData.passwordConfirmation">
        </label>
        <label class="item">
          <button class="button colortesoro loginbtn resetboton" type="submit" myclick="resetPassword()">Cambiar Contraseña</button>
        </label>
      </div>
      </form>
  </ion-content>
</ion-view>